body {
    margin: 0;
    font-family: serif;
}

.menu{
    width: 100%;
    background-color: #ededed;
}
.menu-container{
    width: 1030px;
    height: 46px;
    margin: 0 auto;
}

ul{
    padding-left: 0px;
/*    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;*/
    margin: 0;
}
li{
    display: inline-block;
    list-style: none;
    line-height: 39px;
}

a{
    padding: 17px 16px 17px 10px;
    text-decoration: none;
}
a:hover{
    background: #d9dadc;
}

.current {
    background-color: #6a737c;

}

.menu-container a.current{
    color: white;
    border-top: 5px solid #f8b71a;
    padding-top: 7px;
}

.menu-container a {
    color: #6f767e;
}

.content {
    width: 1030px;
    margin: 0 auto;
}

.row{
   /* display: inline-block;*/
}
.col-sm-4{

    background-color: #f8b71a;
}

.col-sm-4:nth-child(2){
    width: 26%;
    height: 500px;
    background-color: #a8f88c;
}